################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWSWrapperS3/bin/Debug
/AWSWrapperS3/obj/Debug
/packages
/.vs/AWSWrapperS3/v15/Server/sqlite3
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
